<head>
    <meta charset="UTF-8">
    <!-- make mobile friendly -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- link to fonts and style sheet -->
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Dancing+Script|Libre+Baskerville">
    <link href="style.css" rel="stylesheet" type="text/css">
    <!-- link to p5 and sketch -->
    <script src="https://cdn.jsdelivr.net/npm/p5@1.6.0/lib/p5.js"></script>
    <script src="sketch.js"></script>
    <!-- site title and header -->
    <title>Priceless Art | <%= title %></title>
    <h2>Pricele$$ Art</h2>
</head>